.header-filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    margin-top: 0.5em;
}

.mat-mdc-row .mat-mdc-cell {
    cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
    background-color: rgb(206, 206, 206);
}

.mat-mdc-table .mdc-data-table__header-row {
    background-color: #d1d1d1;
}

.searchwidth {
    flex-grow: 1;
}


table {
    table-layout: fixed;
}

.example-container {
    position: relative;
}

.example-table-container {
    max-height: calc(100vh - 92px - 56px - 50px - 48px);
    overflow: auto;
    min-height: 200px;
}

.example-loading-shade {
    position: absolute;
    top: 40px;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}